#header {
	background-color: #9ec4f9;
	width: 100%;
	height: 100px;
	padding-top: 1px;
}
p{
	font-weight: bold;
}
#header div{
	background-color: #cee2fb;
	height: 40px;
	float: left;
	margin: 0% 0.3%;
}
div.H1_1{
	width: 20%;
	
}
div.H1_2{
	width: 49%;
}
div.H1_3{
	width: 29%;
}
#hero{
	margin-top: 10px;
	margin-right: 0.9%;
	background-color: #9ec4f9;
	width: 70%;
	height: 110px;
	float: left;
}
#ad {
	margin-top: 10px;
	background-color: #6fa6dc;
	width: 29%;
	height: 110px;
	float: left;
}
#hero div{
	background-color: #cee2fb;
	height: 50px;
	float: left;
	margin: 0% 0.4%;
}
div.H2_1{
	width: 69%;
}
div.H2_2{
	width: 29%;
}
#body{
	margin-top: 10px;
	margin-right: 0.9%;
	background-color: #9ec4f9;
	width: 70%;
	height: 300px;
	float: left;
}
div.B4_1 {
	width: 29%;
	background-color: #cee2fb;
	float: left;
	margin: 0% 0.4%;
	height: 230px;
}
div.B4_2 {
	width: 69%;
	background-color: #cee2fb;
	float: left;
	margin: 0% 0.4%;
	height: 230px;
}
div.B4_3 {
	background-color: #6fa6dc;
	float: left;
	display: none;
}

#slidebar {
	margin-top: 10px;
	background-color: #9ec4f9;
	width: 29%;
	height: 300px;
	float: left;
}
div.S5_1{
	width: 97%;
	background-color: #cee2fb;
	margin-left: 1.2%;
	height: 230px;
}
#footer {
	background-color: #9ec4f9;
	width: 100%;
	height: 45px;
	float: left;
	margin-top: 10px;
}

@media screen and (max-width: 960px){
	#hero{
		width: 100%;
		height: 160px;
	}
	div.H2_1{
		width: 99%;
	}
	div.H2_2{
		width: 99%;
	}
	#body{
		width: 100%;
		height: 390px;
	}
	div.B4_1 {
		width: 70%;
		height: 100px;
	}
	div.B4_3 {
		display: block;
		width: 28%;
		margin-left: 0.5%;
		height: 100px;
	}
	div.B4_2 {
		width: 99%;
		margin-top: 5px;
		height: 230px;
	}
	#hero div{
		margin: 0.2% 0.5%;
	}
	#ad {
		display:none;
	}
	#slidebar {
		width: 100%;
		height: 135px;
	}
	div.S5_1{
		width: 99%;
		margin-left: 0.4%;
		height: 80px;
	}
}


@media screen and (max-width: 320px){
	#header {
		height: 145px;
	}
	#header div{
		margin: 0.3% 0.3%;
	}
	div.H1_1{
		width: 99%;
	}
	div.H1_2{
		width: 54%;
	}
	div.H1_3{
		width: 44.3%;
	}
	#hero{
		width: 100%;
		height: 105px;
	}
	div.H2_1{
		display: none;
	}
	div.H2_2{
		width: 99%;
	}
	#body{
		width: 100%;
		height: 300px;
	}
	div.B4_1 {
		width: 99%;
		height: 60px;
		margin-bottom: 8px;
	}
	div.B4_3 {
		display: block;
		width: 99%;
		height: 60px;
		margin-bottom: 10px;
	}
	div.B4_2 {
		width: 99%;
		height: 100px;
	}
	#ad {
		display:none;
	}
	#slidebar {
		display: none;
	}
}