*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
nav{
	position: fixed;
	top:0;
}
.frame {
	width: 1518px;
	margin: 0px auto;
}
#banner {
	background-color: #FFC600;
	height: 94px;
	font-weight: bold;
	font-size: 90%;
}
#banner img {
	width:auto;
	height: 85px;
	float: left;
	padding: 8px 20px 0px 200px; 
}
#text p {
	padding: 2px;
}
#text {
	padding: 15px;
}
#nav_bar {
	background-color: #AE1A1F;
	height: 42.5px;
	padding-left: 200px ;
}
#nav_bar ul {
	list-style-type: none;
}
#nav_bar li{
	float: left;
	padding: 13px 9px;
	font-size: 85%;
}
#nav_bar ul li a{
	text-decoration: none;
	color: yellow;
	display: block;
}
#nav_bar ul li > .dropdown{
	display: none;
}
#nav_bar ul li:hover{
	background-color: yellow;
}
#nav_bar ul li:hover a{
	color: black;
}
#nav_bar ul li:hover ul.dropdown li a{
	color: yellow;
}

#nav_bar ul li:hover .dropdown{
	margin-top: 13px;
	margin-left: -10px;
	display: block;
	background-color: #231F20;
	position: absolute;
}
#nav_bar ul li:hover .dropdown li{
	float: none;
	border-right: none;
	padding: 8px 18px;
}
#nav_bar ul li:hover .dropdown li:hover{
	background-color:yellow;
}
#nav_bar ul li:hover .dropdown li:hover a{
	color: #231F20;
}
#nav_bar li.current{
	background-color: #231F20;
}
#title {
	background-color: #F1F1F1;
	margin: 0px 178px 0px 199px;
	padding: 10px;
	border-left: 4px solid #AE1A1F;
	color: #AE1A1F;
	font-size: 120%;
}
#title a{
	float: right;
	padding: 8px;
	background-color: #d9534f;
	margin-top: -5px;
	text-decoration: none;
	color: white;
	font-size: 80%;
}
#image3{
	padding:15px 0px 15px 200px;
	height: 400px;
}
.image{
	margin-right: 10px;
	width: 375px;
	float: left;
}
.image p.ndimg3{
	font-size: 90%;
	padding-top: 10px;
}
.image p.calendar{
	font-size: 80%;
}
.image .img3 img{
	width: 372px;
	min-height: 221px;
	margin: 7px 0px;
}
.image4{
	margin-left: 200px;
	margin-top: 10px;
	height: 600px;
	width: 1200px;
}
.image4 div{
	width: 270px;
	float: left;
	margin-right: 20px;
	text-align: center;
} 
.image4 div img{
	width: 270px;
} 
.image4 div .hocky{
	height: 40px;
	color: #AE1A1F;
	font-size: 20px;
	margin-top: 15px;
}
.image4 div .ngonngu{
	font-weight: bold;
	font-size: 90%;
	margin-bottom: 
}
.image4 div .noidung{
	font-size: 90%;
	height: 95px;
	text-align: justify;
}
.image4 div a{
	text-decoration: none;
	background-color: #d9534f;
	color: white;
	font-size: 80%;
	font-weight: bold;
	padding: 10px 15px;

}
.image4 div a:hover{
	background-color: #C9302C;
}
.image4 #image4title1 {
	font-size: 25px;
	font-weight: bold;
	padding-left: 220px;
	height: 35px;
}
.image4 #image4title2 {
	padding-left: 370px;
	font-size: 20px;
}

.image4 div img.loiich{
	width: auto;
	margin-top: 40px;
	margin-bottom: 40px;
} 
.image4 div img.loiich1{
	width: auto;
	margin-top: 55px;
	margin-bottom: 53px;
} 
.image4 div .nd1{
	font-weight: bold;
	font-size: 95%;
	margin:5px;
}
.image4 div.imageblock {
	height: 200px;
}
.image4 div .nd2{
	font-weight: bold;
	font-size: 120%;
	margin:5px;
	color: #AE1A1F;
}
.image4 div .nd3{
	font-size: 95%;
}

