*{
	padding: 0;
	margin: 0;
	color: #706f6c;
}
@font-face {
    font-family: Pacifico;
    src: url(fonts/Pacifico.ttf);
}

.panel{
	margin-top: 0.7%;
}
.pan .container{
	height: 785px;
}
.panel .container .col-md-9{
	padding: 0px;
	font-weight: bold;
	color: #6e6e6d;
}
.container,.col-md-3{
	padding: 0px;
}
.navbar-nav a{
	color: #454545;
	font-size: 125%;
}                                               
.navbar-nav{
	float: right;
	margin-top: 3%;
}
.header{
	height: 100px;
}
.title1{
	padding: 25px;
	font-size: 30px;

	background: -webkit-linear-gradient(left,#3d900a,#62b05d);
	color: white;
	margin-top: 150px;
	text-align: right;
	
}
.title2{
	font-size: 300%;
	color: #429935;
	padding-top: 2%;
	font-family: Pacifico;
}
.pan{
	background-image: url("images/panel.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.carousel-inner{
	font-weight: bold;
	height: 150px;
}
.carousel a{
	text-decoration: none;
}
.carousel img{
	width: 35px;
}
.carousel img{
	width: 35px;
}
.carousel-indicators-numbers li {
      text-indent: 0;
      margin: 0 2px;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      color: #fff;
      background-color: #999;
      transition: all 0.25s ease;
}
.numberPages{
	font-family: Pacifico;
	font-size: 200%;
	padding: 0px;
	color: #9d9b97;
}

.glyphicon{
	color: green;
}
.main{
	background-image: url("images/body.png");
    background-repeat: no-repeat;
    height: 2928px;
    background-size: 100% 100%;
}

.container h2{
	text-align: center;
	font-weight: bold;
	text-align: center;
	font-size: 250%;
	margin-top: 5%;
}
.nav-tabs a{
	color: #6a6a6a;
	font-size: 125%;
}
.nav-tabs { 
	border-bottom: 0px;
	margin: 2% 0 0 15%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-width: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { 
	border: none; color: #66ad5d !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #f5f5f6;
    border: 0px;
    border-bottom-color: transparent;
}
.tab-content .carousel-inner{
	height: 650px;
}
.carousel-inner img{
	width: 100%;
}
.carousel-inner .item .col-md-4{
	background-color: #f9f9f9;
	padding: 40px;
	border: 20px solid #f5f5f6;
	font-weight: 100;
}
.carousel-inner .item .col-md-4 h3{
	color: #42962e;
	font-family: Pacifico;
	text-align: center;
	margin: 10px 0 25px 0;
}
.carousel-inner .item .col-md-4 button{
	background-color: white;
	border: 1px solid #d6d6d6;
	padding: 10px 40px;
	border-radius: 20px;
	color: #63a752;
	margin: 7% 23% -4% 23%;
}
.buttonProducts img{
	width: 47px;
}
.buttonProducts {
	margin: 0.5% 0 12% 46%;
}
.reason h3{
	font-family: Pacifico;
	color: #4fa446;
	margin: 2% 0 4% 0;
} 
.reason h2{
	margin-bottom: 4%;
} 
.reason p{
	font-weight: bold;
	font-size: 110%;
}
.reason{
	margin-bottom: 61%;
}
.news h2{
	margin-bottom: 5%;
}
.news h4{
	margin-top: 4%;
	font-weight: bold;
}
.news .date{
	color: #c2c2c2;
}
.news p{
	font-size: 110%;
	margin-top: 4%;
}
button{
	background-color: white;
	border: 1px solid #d6d6d6;
	width: 150px;
	height: 45px;
	border-radius: 20px;
	color: #63a752;
	margin: 3% 43%;
}
.footer .row{
	padding: 2% 0;
	font-size: 120%;
	border-bottom: 1.5px solid #f5f5f6;
}
.footer .col-md-4{
	font-weight: bold;
	color: #9d9d9c;
	margin-top: 2%;
}
.footer .col-md-4 a{
	color: #63a752;
}
.footer .col-md-4 .underline{

	margin-top: -9%;
}
.footer p{
	margin-bottom: 30px;
}
.numberContact,.phone p{
	height: 10px;
}
.contact input,textarea,p{
	margin: 10px 0;
}
.contact textarea{
	height: 110px;
}
.contact input,textarea{
	border: 1px solid #d6d6d6;
	width: 100%;
	height: 42px;
	padding: 5px;
}
.contact p{
	color: white;
	background-color: #4b8c1a;
	width: 120px;
	text-align: center;
	font-size: 150%;
	height: 42px;
	padding-top: 7px;
}
