
#nav_bar1 li{
	border-right: 2px solid black;
}
#nav_bar1 ul li{
	margin: 10px;
	float: left;
	padding-right: 20px;
}
#nav_bar1 ul {
	width: 800px;
	height: 38px;
	list-style-type: none;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
li.aboutus a{
	text-decoration: none;
}


#nav_bar2 #ul {
	width: 800px;
	height: 38px;
	list-style-type: none;
	background-color: blue;
	position: relative;
}
#nav_bar2 .li,.member {
	border-right: 2px solid white;
	height: 30px;
    margin: 0px;
	float: left;
	padding: 4px;
}
#nav_bar2 a:link {
	text-decoration: none;
}
#nav_bar2 a{
	padding-top: 10px;
}
#nav_bar2 a:visited {
	text-decoration: none;
	color: white;
}

#nav_bar2 ul li ul{
	position: absolute;
	top: 100%;
}

#nav_bar2 ul li{
	list-style-type: none;
	text-align: center;
	background-color: blue;
	margin: 3px;
	padding: 12px 9px 12px 0px;
	width: 144px;	
	color: white;
}

#nav_bar2 ul li > .dropdown{
	display: none;
}
#nav_bar2 ul li:hover .dropdown{
	display: block;
	position: absolute;
}
#nav_bar2 ul li:hover .dropdown li{
	float: none;
	color: white;
	border-right: none;
	margin-left: -45px;
}
