*{
	padding:0px;
	margin:0px;
}
#container{
	margin:0px auto;
	width: 95%;
}
#header {
	width: 100%;
	height: 40px;
	background-color: #d1e0ea;
}
.navbarheader {
	float: right;
	margin-top: 1%;
}
.navbarheader ul{
	list-style-type: none;
}
.navbarheader li{
	float: left;
}
.navbarheader li a{
	text-decoration: none;
	color: #729fbf;
	margin-left: 20px;
}
form{
	height: 50px;
}
#search{
  	border-radius: 10%;
  	float: right;
  	margin-top: 25px;
  	font-size: 18px;
}
.logo img{
	float: left;
}
.logo #h1 {
	color: #9abad1;
	font-size: 60px;
	font-weight: bold;
	margin-left: 75px;
	margin-top: -2px;
}
.logo #p {
	color: #cadbe7;
	font-weight: bold;
	padding-left: 240px;
	margin-top: -15px;
}
.logo {
	width: 50%;
	float: left;
}
.navbar {
	width: 49%;
	float: left;
}
.navbar img#home{
	margin-top: 20px;
	float: left;
}
.navbar ul{
	list-style-type: none;
}
.navbar li{
	float: left;
	margin-top: 28px;
	margin-left: 47px;
}
.navbar li a{
	text-decoration: none;
	color: #729fbf;
	font-size: 20px;
}
#bigbanner{
	width: 100%;
	height: 500px;
	margin-top: 150px;
	margin-bottom: 90px;
	clear: both;
}
#left{
	width: 45%;
	float: left;
}
#left .img{
	background-color: #dde7ef;
	height: 320px;
	margin-bottom: 5%;
}
#left .img4{
	background-color: #dde7ef;
	height: 135px;
	float: left;
	width: 21%;
	margin-right: 5.3%;
}
#left .img4x{
	background-color: #dde7ef;
	height: 135px;
	float: left;
	width: 21%;
}
#right{
	width: 53%;
	float: right;
}
#right #h1{
	font-size: 40px;
	font-weight: bold;
	color: #6495b9;
	padding-bottom: 10px;
}
#right p{
	color: #6495b9;
	padding:5px;
}
#right #btn{
	width: 82%;
	height: 100px;
	background-color: #dde7ef;
	margin: 20px 0px;
}
#right #btn p{
	font-weight: bold;
}
#right #btn button{
	padding: 8px;
	background-color: #6495b9;
	margin: 10px 140px;
}
#title{
	border-bottom: 1px solid #6495b9;
	margin-bottom: 20px;

}
#titlex{
	border-bottom: 1px solid #6495b9;
	margin-bottom: 20px;
	display: none;
	color: #6495b9;
}
#bigbanner #h1{
	font-size: 40px;
	font-weight: bold;
	color: #6495b9;
	padding-bottom: 10px;
}
#subleft{
	width: 60%;
	float: left;
}
#subright{
	width: 40%;
	float: left;
	font-weight: bold;
	color: #6495b9;
	padding-bottom: 15px;
}
#product p{
	text-align: center;
	color: #6495b9;
	font-size: 30px;
	font-weight: bold;	
}
#products .pd1,.pd1f{
	float: left;
	width: 23%;
}
.pd1_1{
	margin-top: 30px;
	background-color: #d1e0ea;
	width: 100%;
	height: 250px;
}
#products .pd1{
	margin-right: 2.5%;
}
#footer {
	width: 100%;
	height: 300px;
	background-color: #d1e0ea;
}
.decr {
	color: #89afc9;
	width: 60%;
	float: left;
	padding-top: 10px; 
	font-size: 20px;
	padding-bottom: 20px;
}
.price {
	color: #73a0bf;
	float: right;
	font-size: 22px;
	font-weight: bold;
	padding-top: 10px;
}
.btn p{
	clear: both;
	width: 40%;
	padding: 8px;
	margin: 10px auto;
	text-align: center;
	background-color: #729fbf;
	color: white;
	font-size: 18px;
	margin-bottom: 30px;
}
#view{
	text-align: center;
	width: 10%;
	margin: 30px auto;
	font-size: 25px;
	color: #6e9cbe;
	font-weight: bold;
}
#infooter {
	padding: 3% 0px;
}
#responsive{
	display: none;
}
@media screen and (max-width: 960px){
	.navbar {
		clear: both;
		width: 100%;
	}
	#left .img4{
		display: none;
	}
	#left .img4x{
		display: none;
	}
	#left{
		width: 60%;
	}
	#right{
		width: 40%;
	}
	#subleft{
		display: none;
	}
	#title{
		display: none;
	}
	#titlex{
		display: block;
	}
	#pd1in,.pd1f{
		display: none;
	}
	#products .pd1,.pd1f{
		float: left;
		width: 47%;
	}
	#responsive{
		display: block;
			color: #6495b9;
	padding:5px;
	}
}
@media screen and (max-width: 660px){
	#banner .bn{
		width: 100%;
	}
	#banner #bnmid{
		margin: 0px 0px 70px 0px;
	}
	#products .pd1{
		display: none;
	}
	#products .pd1f{
		width: 90%;
	}
	#bigbanner #bb1{
		font-size: 40px;
		width: 400px;
	}
	#bigbanner #bb2{
		font-size: 30px;
		width: 380px;
	}
	#bigbanner{
		height: 260px;
	}

}