*{
	padding:0px;
	margin:0px;
}
#container{
	margin:0px auto;
	width: 95%;
}
#header {
	width: 100%;
	height: 40px;
	background-color: #d1e0ea;
}
.navbarheader {
	float: right;
	margin-top: 1%;
}
.navbarheader ul{
	list-style-type: none;
}
.navbarheader li{
	float: left;
}
.navbarheader li a{
	text-decoration: none;
	color: #729fbf;
	margin-left: 20px;
}
form{
	height: 50px;
}
#search{
  	border-radius: 10%;
  	float: right;
  	margin-top: 25px;
  	font-size: 18px;
}
.logo img{
	float: left;
}
.logo #h1 {
	color: #9abad1;
	font-size: 60px;
	font-weight: bold;
	margin-left: 75px;
	margin-top: -2px;
}
.logo #p {
	color: #cadbe7;
	font-weight: bold;
	padding-left: 240px;
	margin-top: -15px;
}
.logo {
	width: 50%;
	float: left;
}
.navbar {
	width: 49%;
	float: left;
}
.navbar img#home{
	margin-top: 20px;
	float: left;
}
.navbar ul{
	list-style-type: none;
}
.navbar li{
	float: left;
	margin-top: 28px;
	margin-left: 47px;
}
.navbar li a{
	text-decoration: none;
	color: #729fbf;
	font-size: 20px;
}
#bigbanner{
	background-color: #dde7ef;
	width: 100%;
	height: 150px;
	margin-top: 150px;
	margin-bottom: 90px;
	clear: both;
	display: flex;
	align-items: center;
}
#bigbanner .bn{
	font-size: 60px;
	margin-left: 2%;
	font-weight: bold;
	color: #719ebf;
}
#category{
	width: 20%;
	float: left;
}
#category ul{
	list-style-type: none;
}
#category li{
	padding-bottom: 5%;
}
#category .categoryheader{
	background-color: #e4edf3;
	padding-left: 4%;
	margin-bottom: 5%;

}
#category .categoryheader a{
	text-decoration: none;
	color: #719ebf;
	font-size: 25px;
}
#categoryname{
	display: none;
}
#category li a{
	font-size: 20px;
	text-decoration: none;
	color: #729fbf;
	padding-left: 4%;
}
#products{
	width: 70%;
	float: right;
}
#products .pd1,.pd1f{
	float: left;
	width: 32%;
	margin-bottom: 3%;
}
.pd1_1{
	background-color: #d1e0ea;
	width: 100%;
	height: 250px;
}
#products .pd1{
	margin-right: 2%;
}
.name {
	display: none;
}
.decr {
	color: #89afc9;
	width: 60%;
	float: left;
	padding-top: 10px; 
	font-size: 20px;
	padding-bottom: 20px;
}
.price {
	color: #73a0bf;
	float: right;
	font-size: 22px;
	font-weight: bold;
	padding-top: 10px;
}
.btn p{
	clear: both;
	width: 40%;
	padding: 8px;
	margin: 10px auto;
	text-align: center;
	background-color: #729fbf;
	color: white;
	font-size: 18px;
	margin-bottom: 30px;
}
#footer {
	clear: both;
	width: 100%;
	height: 300px;
	background-color: #d1e0ea;
}
#infooter {
	padding: 3% 0px;
}
@media screen and (max-width: 960px){
	.navbar {
		clear: both;
		width: 100%;
	}
	#category{
		display: none;
		float: none;
	}
	#products{
		width: 100%;
	}
	#products .pd1,.pd1f{
		width: 38%;
	}
	#products .pd1{
		margin: 0 6%;
		margin-bottom: 5%;
	}
	#products .pd1f{
		display: none;
	}
}
@media screen and (max-width: 520px){
	#bigbanner{
		display: none;
	}
	.navbar{
		display: none;
	}
	#products .pd1,.pd1f{
		width: 45%;
	}
	#products .pd1{
		margin: 0 2%;
		margin-top: 5%;
	}
	.pd1_1{
		height: 150px;
	}
	.logo{
		margin-bottom: 10%;
	}
	.price{
		clear: both;
		float: left;
	}
	.decr{
		display: none;
	}
	.name{
			color: #89afc9;
			font-size: 25px;
			font-weight: bold;
		display: block;
	}
	.btn{
		float: right;
	}
	.btn p{
		font-size: 7px;
	}
	#infooter{
		display: none;
	}
}